*
{
  margin: 0;
  padding: 0;
  color: aliceblue;
}
#root
{
  width: 100%;
  height: 100vh;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header
{
    width: 100%;
    height: 100px;
    background-color: aqua;
    color: #212121;
}
.content
{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
    color: #212121;
}

footer
{
    width: 100%;
    height: 100px;
    background-color: rgb(240, 255, 127);
    color: #212121;
}